body {
    font-family: "Roboto", sans-serif;
}

strong {
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "EB Garamond", serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-text-primary);
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.875rem;
    color: var(--color-text-primary);
}

h3 {
    color: var(--color-wp-blue-light);
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
}

p {
    margin-bottom: var(--grid-x2);
}

a {
    color: var(--color-text-primary);
}