.card {
    background-color: var(--color-bg-card);
    padding: var(--grid-x4);
    border-radius: var(--radius-md);

    &--no-background-color {
        background-color: transparent;
    }

    &--background-gradient-color {
        background-color: var(--color-wp-blue-dark);
    }

    &__icon {
        font-size: var(--grid-x8);
        line-height: var(--grid-x8);
        text-align: center;
        display: block;
        margin-bottom: var(--grid-x2);
    }

    &__title {
        text-align: center;

        .section--gradient & {
            color: var(--color-text-primary);
        }
    }
}